<body>
<div id= "home-header">
<h1>Sate</h1>
<!-- <p>
<img src="assets/images/logo.png" alt="logo" height="32px" width="32px"/>
</p> -->
</div>

<div class= "container">
<div class = "row">

<div class = "col-md-4">
<h3>Create an account</h3>
<p>Sign up for a free Sate account!</p>
<a href = "#" class = "btn btn-primary">Sign Up!</a>
</div>

<div class = "col-md-4">
<h3>Join and create events</h3>
<p>Search through hundreds of food related events being hosted near you! Feel free to host your own and invite members around your area. </p>
</div>

<div class = "col-md-4">
<h3>Connect with the community and make a difference</h3>
<p>Just had a private event and have too much left overs? Host a Sate event and notify all members within your area to come and help minimise food wastage.  </p>
</div>

</div>

</div>

</body>