<body>
	<div id="top-content">	
	    <div class="inner-bg">
	        <div class="container">
	        	<div id = "registration">
	            <div class="row">
	                <div id="header">
	                    <h1>Sign Up To Sate!</h1>
	                </div>
	                <div id="description">
	                    <p>Discover some of the best food events in Melbourne with us!</p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-6 col-sm-offset-3 form-box">

	                	<%= form_for(@web_user) do |f| %>
		                    <div class="form-bottom">
			                    <form role="form" action="f.submit" method="post" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-firstname">Name</label>
			                        	<input type="text" name="form-username" placeholder="First Name..." class="form-username form-control" id="form-username">
			                        	<%= f.text_field :name %>
			                        </div>

\
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input type="password" name="form-password" placeholder="Create a password..." class="form-password form-control" id="form-password">
			                        	<%= f.text_field :password %>
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-company">Company</label>
			                        	<input type="text" name="form-company" placeholder="Confirm your company" class="form-company form-control" id="form-company">
			                        	<%= f.text_field :company %>
			                        </div>
			                    </form>
		                    </div>
		                   <% end %>


	                </div>
	            </div>
	            <div class = "text-center">
	            	<a class = "btn btn-warning">Register</a>
	            	<a class = "btn btn-danger">Cancel</a>
	        	</div>
	        	</div>
	        </div>
	    </div>
	</div>
</body>
