<h1>Events</h1>
<div class="container">
<%- @events.each_slice(3) do |group| %>
    <div class="row">
    <%- group.each do |event| %>
      <div class="col-md-6">
        <img data-src="..." alt="Card image">
        <div class="card card-block">
          <h3 class="card-title"><%= event.name %></h3>
          <h6 class="card-subtitle text-muted">Organised by: <%= event.organisation %></h6>
          <p class="card-text"><%= event.description %></p>
          <a href="/events/<%= event.id %>" class="btn btn-primary">More details</a>
        </div>
      </div>
    <% end %>
<% end %>
</div>




