.feed-container {
	font-size: 20px;
	margin: 25px;
	padding: 3% 20%;

	text-shadow: .2px .2px #262626;
	color: #333333;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	text-align: center;

}

.inner-feed-container {
	margin: 15px;
	padding: 20px 15%;
	content: 10px;
	background-color: rgba(255,255,255,0.8);
	vertical-align: top;
}

.desc-container {
	margin: 10px 0px;
	padding: 2% 10%;
	content: auto;
	background-color: rgba(255,255,255,0.95);
}

.feed-image {
    width: 350px; /* you can use % */
    height: auto;
    
}

.image-container {
	content: 10px 2px;
	padding: 0px 0px 10px 0px;
}




.fa-heart:hover {
	color: #ff5050;
}