body {
	background: url(login.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#login-items {
	margin-top:120px;
	background:rgba(255,255,255,0.8);              
	width:400px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	text-align: center;
	font-family: Calibri,sans-serif;
	padding: 0px;
	font-weight: bold;
	font-color:black;
}

#description {
	text-align: center;
	font-style: italic;
	font-color:black;
}

.form-group {
	font-style: italic;
}

#authentication {
	text-align: center;
	padding: 10px;
}

#sign-btn {
	padding: 10px;
}




//newsfeed style


#content {
	margin-top:10px;
	background:rgba(255,255,255,0.8);              
	width:400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
	border-bottom: solid 3px white;
	border-top: solid 3px white;
}

#registration {
	margin-top:120px;
	background:rgba(255,255,255,0.8);              
	width:400px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#events-header {
	margin-top:120px;
	background:rgba(255,255,255,0.8);              
	width:400px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: center;
	font-family: calibri,sans-serif;
	font-weight: bold;
	font-color:white;
}

//event page

ul li {
	list-style-type: none;
}

#event-details {
	background:rgba(255,255,255,0.8);              
	width:400px;
	margin-left: auto;
	margin-right: auto;
	font-family: Calibri,sans-serif;
	text-align: center;
}

#event-page {
	margin-top:120px;
	background:rgba(255,255,255,0.8);              
	width:400px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: center;
	font-family: calibri,sans-serif;
	font-weight: bold;
	font-color:white;

}

// home page

#home-header h1{
	margin-top: 70px;
	font-weight: bold;
	font-family: Calibri,sans-serif;
	font-size: 200px;
	text-align: center;
	color: white;
}



